.tasks-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-elem {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-elem img {
    width: 30px;
    height: auto;
}

.nav-elem:hover {
    cursor: pointer;
    color: var(--second-clr);
}

.nav-bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    margin-top: 40px;
}

ul {
    list-style: none;
    margin-left: 15px;
}

ul li {
    margin-left: 30px;
}