.tasks-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-elem {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-elem img {
    width: 30px;
    height: auto;
}