@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Merienda:wght@300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("./mainContent.css");
@import url("./taskInputForm.css");
@import url("./navBar.css");
@import url("./taskDetails.css");
@import url("./taskEditForm.css");

:root {
    --main-clr: #252f50;
    --second-clr: rgba(17, 207, 255, 0.781);
    --button-hover-clr: rgba(71, 135, 255, 0.185);
    --main-font: "Roboto"
}

* {
    margin: 0;
    padding: 0;
    line-height: 1rem;
    font-size: 1rem;
    font-family: var(--main-font), sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 100% / 1fr 4fr;
}

main {
    position: relative;
}

aside {
    background-color: var(--main-clr);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-width: 200px;
}

#control-btns {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    gap: 20px;
}

#new-task-btn {
    width: 100px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid var(--main-clr);
    background: none;
}

#new-task-btn:hover {
    cursor: pointer;
    background-color: var(--button-hover-clr);
}